<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
   
    <title>Wallet</title>
</head>
<body>
    

    <nav>
        <a href="/home">HOME</a>
        <a href="#">Wallet</a>
        <a href="/profil">Profil</a>
        <div id="indicator"></div>

    </nav>
<form class="form-signin" action="/walletBackend/showCrypto" method="POST">
<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Zeigen</button>


</form>
<form action="/walletBackend/wallet" method="POST">
<input type= "number" step="any" class="form-control" placeholder="Amount" name="money" min = "0"required>
<input type= "text" class="form-control" placeholder="Crypto-Adresse" name="adress" required>
<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Transaktion</button>

</form>
<form action="/walletBackend/mining" method="POST">
<input type= "number" step="any" class="form-control" placeholder="Amount" name="mining" min = "0"required>
<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Minen</button>

</form>
<form action="/walletBackend/auszahlen" method="POST">
<input type= "number" step="any" class="form-control" placeholder="Amount" name="auszahlen" min = "0"required>
<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Auszahlen</button>

</form>
</form>
<form class="form-signin" action="/auth/logout" method="POST">

<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Logout</button>

</form>

<form class="form-signin" action="/accDelete/accDelete" method="POST">
<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Account Löschen</button>
</form>


<p>{{message1}}</p>
<p>{{message2}}</p>
<p>{{message3}}</p>
<p>{{message4}}</p>
<p>{{message5}}</p>
<p>{{message6}}</p>
<p>{{message7}}</p>
<p>{{message8}}</p>

<p>{{crypto}}</p>
<p>{{kontostand}}</p>
<p>{{mining}}</p>
<p>{{History}}</p>

</body>
</html>